:root {
    --accent-color: 120, 103, 162; /* LAVENDER */
    --main-color: 60, 60, 62; /* DARK MODE BG */
    --secondary-color: 50, 50, 52; /* DARK MODE SECONDARY */
    --text-color: 235, 235, 235; /* DARK MODE TEXT */
    --grayed-text-color: 133, 133, 133; /* DARK MODE GRAYED-OUT */
    /* LIGHT MODE */
    /*
    --accent-color: 169, 133, 255;
    --secondary-color: 235, 235, 235;
    --main-color: 255, 255, 255;
    --text-color: 40, 40, 40;
    --grayed-text-color: 133, 133, 133;
    */
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
    border: solid 1px;
}

ul {
    padding: 0;
}

.wrapper {
    border: solid 3px green;
    display: flex;
    width: 100vw;
    height:100vh;
}

.sidebar {
    border: solid 1px red;
    height:100%;
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-list-container {
    width:calc(100% - 20px);
}

.sidebar .project-container {
    width: 100%;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    border-radius: 5px;
}
.project-options {
    position: absolute;
    right: 0;
}

.project-title {
    display: inline-block;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drag-element {
    background-color: lightsalmon;
    border-radius: 5px;
    max-width:295px;
    transition:.2s;
}

.drag {
    cursor:move;
}

.draggable.dragging, .draggable.dragging:active {
    margin: 5px 0;
    opacity: .7;
}