@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
    --accent-color: 120, 103, 162; /* LAVENDER */
    --main-color: 50, 50, 52; /* DARK MODE BG */
    --secondary-color: 40, 40, 42; /* DARK MODE SECONDARY */
    --tertiary-color: 60, 60, 62; /* DARK MODE TERTIARY */
    --text-color: 214, 214, 214; /* DARK MODE TEXT */
    --grayed-text-color: 133, 133, 133; /* DARK MODE GRAYED-OUT */
    /* LIGHT MODE */
    /*
    --accent-color: 169, 133, 255;
    --secondary-color: 235, 235, 235;
    --main-color: 255, 255, 255;
    --text-color: 40, 40, 40;
    --grayed-text-color: 133, 133, 133;
    */
}

body{
    font-family: 'Roboto', sans-serif;
    color:rgb(var(--text-color));
    overflow: hidden;
}

* {
    box-sizing: border-box;
    transition: .2s;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

button {
    background-color: rgb(var(--accent-color));
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    color: inherit;
}
button:hover {
    opacity: .7;
}
button:active {
    opacity: .9;
}

h1 {
    background-color: rgb(var(--accent-color));
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-weight: normal;
    border-radius: 0 5px 5px 0;
}

.wrapper {
    display: flex;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.sidebar {
    height:100%;
    min-width:200px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    resize: horizontal;
    background-color: rgb(var(--secondary-color));
    transition: none;
}

.project-list-container {
    width:calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: end;
}

.sidebar .project-container {
    width: 100%;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(var(--main-color));
    border-radius: 5px;
    cursor: pointer;
}
.sidebar .project-container:hover {
    background-color: rgb(var(--tertiary-color));
}
.project-options {
    position: absolute;
    right: 0;
}

.project-title {
    display: inline-block;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar .tasks {
    font-size: .9rem;
    color: rgb(var(--grayed-text-color));
}

.settings {
    display: flex;
    flex-direction: column;
    align-self: end;
    margin:10px;
    font-size: .9rem;
}
.settings li {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap:3px;
    color: rgb(var(--grayed-text-color));
    cursor: pointer;
}
.settings li:hover {
    color: rgb(var(--accent-color));
}

.drag-element {
    max-width:295px;
}

.project .drag {
    cursor: move;
    color: rgb(var(--grayed-text-color));
}

.draggable.dragging, .draggable.dragging:active {
    margin: 10px 0;
    opacity: .5;
}

main {
    background-color: rgb(var(--main-color));
    flex:auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
main header {
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    background-color: rgb(var(--secondary-color));
    padding: 20px;
    border-bottom: solid 1px rgb(var(--grayed-text-color));
}
main h2 {
    margin: 0;
}

.projects-container {
    overflow-y: auto;
    flex: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25ch,1fr));
    gap:20px;
}
.project {
    border: solid 1px rgb(var(--secondary-color));
    border-radius: 5px;
    padding: 0;
}
.task {
    border-right: solid 10px rgb(var(--tertiary-color));
    border-bottom: solid 1px rgb(var(--tertiary-color));
    padding: 10px;
    background-color: rgb(var(--secondary-color));
}

.task:first-child {
    border-radius: 5px 5px 0 0;
}

.task-main {
    display: flex;
    justify-content: space-between;
}
.sub-task {
    padding-left: 1rem;
}