@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
    --accent-color: 120, 103, 162;
    /* LAVENDER */
    --main-color: 50, 50, 52;
    /* DARK MODE BG */
    --secondary-color: 40, 40, 42;
    /* DARK MODE SECONDARY */
    --tertiary-color: 60, 60, 62;
    /* DARK MODE TERTIARY */
    --text-color: 234, 234, 234;
    /* DARK MODE TEXT */
    --grayed-text-color: 133, 133, 133;
    /* DARK MODE GRAYED-OUT */
    --accent-color-bright: 145, 118, 209;
    /* LIGHT MODE */
    /*
    --accent-color: 169, 133, 255;
    --secondary-color: 235, 235, 235;
    --main-color: 255, 255, 255;
    --text-color: 40, 40, 40;
    --grayed-text-color: 133, 133, 133;
    */

    --padding: 10px;
    --smaller-text: .8rem;
}

* {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(var(--main-color));
    color: rgb(var(--text-color));
    overflow: hidden;
    display: flex;
}

button {
    background-color: rgb(var(--accent-color));
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    color: inherit;
}
button:hover {
    background-color: rgb(var(--accent-color-bright));
}
button:active {
    background-color: rgb(var(--accent-color));
}

h1 {
    border: solid 1px;
    text-align: center;
    justify-self: center;
} 


/* SIDEBAR  */

nav {
    /* position: relative; */
    height: 100%;
    min-width: 200px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--secondary-color));
    overflow: auto;
    resize: horizontal;
}

nav header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--accent-color));
    padding: var(--padding);
    width: 100%;
    height: 100px;
}

.sidebar-lower {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

.project-list-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.project-list {
    width:calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: end;
    margin-bottom: 5px;
}

.project-info {
    width: 100%;
    max-width: 295px;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(var(--main-color));
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.project-options {
    color: rgb(var(--grayed-text-color));
    position: absolute;
    right: 10px;
    transition: .2s;
}

.project-options:hover {
    color: rgb(var(--text-color));
}

.project-info:hover {
    background-color: rgb(var(--tertiary-color));
}

.project-title {
    max-width: calc(100% - 34px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.settings-menu {
    align-self: end;
    color: rgb(var(--grayed-text-color));
    font-size:.9rem;
}

.settings-menu li {
    display: flex;
    align-items: center;
    gap:5px;
    margin: 5px;
    cursor: pointer;
    transition: .2s;
}

.settings-menu li:hover {
    color: rgb(var(--accent-color-bright));
}

.settings-menu li:active {
    color: rgb(var(--accent-color));
}

/* MAIN */

main {
    flex: auto;
    display: flex;
    flex-direction: column;
}

main header {
    background-color: rgb(var(--accent-color));
    height: 100px;
    padding: var(--padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    margin: 0;
}

.active-project-description {
    font-size: var(--smaller-text);
    max-width: 40ch;
    color: rgb(var(--grayed-text-color));
    background-color: rgb(var(--secondary-color));
    padding: 10px;
    border-radius: 5px;
}

.to-do-list-container {
    flex: auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25ch,1fr));
    gap: 10px;
    padding: var(--padding);
}